@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100;1,200;1,600&display=swap');

*{
    padding: 0;
    margin: 0;
    background: rgb(235, 234, 234);
    font-style: italic 100;
}
.text-center{
    background: rgb(235, 234, 234);
}
#container{
    width: 50%;
    height: 50%;
    margin-top: 15%;
    margin-left: 23%;
}